Repository HDFGroup/hdf5_plugins, pull requests merged in 2024-11, with the labels that each got.

#156 Update compression libs versions
  .github/workflows/check-releases.yml
  .github/workflows/daily-build.yml
  BLOSC/config/cmake/cacheinit.cmake
  BLOSC2/config/cmake/cacheinit.cmake
  BSHUF/config/cmake/cacheinit.cmake
  CMakePresets.json
  LZ4/CMakeLists.txt
  LZ4/config/CMakeLists.txt
  LZ4/config/cmake/H5LZ4Macros.cmake
  LZ4/config/cmake/cacheinit.cmake
  LZ4/config/lz4Config.cmake.in
  LZ4/src/CMakeLists.txt
  LZ4/src/H5Zlz4.c
  ZSTD/config/CMakeLists.txt
  ZSTD/config/cmake/H5ZSTDMacros.cmake
  ZSTD/config/cmake/cacheinit.cmake
  ZSTD/config/libCMakeLists.txt
  ZSTD/src/H5Zzstd.c
  config/cmake/cacheinit.cmake
  docs/INSTALL_With_CMake.txt
  libs/c-blosc-1.21.5.tar.gz
  libs/c-blosc-1.21.6.tar.gz
  libs/c-blosc2-2.14.4.tar.gz
  libs/c-blosc2-2.15.1.tar.gz
  libs/lz4-1.10.0.tar.gz
  libs/lz4-1.9.4.tar.gz
  libs/zstd-1.5.5.tar.gz
  libs/zstd-1.5.6.tar.gz
Labels: Component - Build, Type - Improvement, Priority - 1. High 🔼

#159 Correct the test zfp version in test files
  ZFP/config/cmake/binex/example/testfiles/h5ex_d_zfp.ddl
  ZFP/config/cmake/binex/example/testfiles/h5ex_d_zfp.tst
  ZFP/config/cmake/binex/example/testfiles/h5repack_layout.h5-ud_convert.ddl
  ZFP/example/testfiles/h5ex_d_zfp.ddl
  ZFP/example/testfiles/h5ex_d_zfp.tst
  ZFP/example/testfiles/mesh.h5-ud_mesh_convert.ddl
  config/cmake/binex/example/testfiles/h5ex_d_zfp.tst
  config/cmake/binex/example/testfiles/h5repack_layout.h5-ud_convert.ddl
  config/cmake/binex/example/testfiles/h5repack_layout.h5-ud_pl_convert.ddl
Labels: Component - Testing

#160 Add info for filters 257 and 258
  docs/RegisteredFilterPlugins.md
Labels: Component - Documentation, Type - New Filter, Priority - 1. High 🔼
